<h1>You are a SUPER administrator... Cool.</h1>
<p>This interface allows you to manage <%= APP_CONFIG['brand']['site_name'] %> organiztaions and manage other admins</p>
<hr />
<h2>Organizations</h2>
<%=link_to "Manage organizations", super_admin_organizations_path%>
<hr />

<h2>Users</h2>
<p><%=link_to "Manage Users", super_admin_users_path%></p>
