<h2>Event Published</h2>
<p>Your event has been published!</p>

<p>The work is not done yet. You can start sharing the url to your event. Get people to register, submit, vote, volunteer and comment for ideas!</p>

<p>Coming soon: Event reminders, better notifications, etc.</p>
