<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Campus Codefest Sign in</h1>
        <p>Campus Codefest U is an unconference for U of M designers, developers, sysadmins and other interested parties in the University of Minnesota community who want to come together to code for a couple of days.</p>
        <p>
          <%=link_to signin_path, :class=>"btn btn-primary btn-large" do%>
            <i class="fa fa-sign-out"></i> Log in with Google
          <%end%>
        </p>
    </div>
  </div>
</div>