<div class="row">
  <div class="col-xs-12">
    <h1>You are signed out, please sign in to continue</1>
    <script>
    $( document ).ready(function() {
      $("#sign_in_modal").modal('show');
    });
    </script>
  </div>
</div>
