<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1><%= APP_CONFIG["brand"]["site_name"] %> Sign in</h1>
        <p><%= APP_CONFIG["brand"]["site_name"] %> is an unconference for designers, developers, sysadmins, analysts, and other interested parties who want to come together to build cool things for a couple of days.</p>
        <p>
          <%=link_to signin_path, :class=>"btn btn-primary btn-large" do%>
            <i class="fa fa-sign-in"></i> Log in with Google
          <%end%>
        </p>
    </div>
    <p class="alert alert-warning"><small>Non-University of Minnesota Google accounts will be subject to a waiting period while we verify you are a not a University of Wisconsin or University of Iowa employee trying to infliltrate our network. If you are a University staff member or student, please use your UMN google account instead of a personal account.</small></p>
  </div>
</div>