<a href="/auth/facebook" data-ajax="false" data-role="button" data-theme="e">
  <img src="/images/facebook_logo_small.gif" alt="Facebook" width="25" height="25" style="vertical-align:text-bottom;"/>
  Sign in to Git-r-On!
</a>