<div class="row">
  <div class="col-xs-8">
    <h1><%=@user.name%></h1>
    <p class="text-info">
      has registered for <%=@user.event_registrations.count%> past codefest(s).
    </p>
    <h2>Organizations</h2>
    <%@user.organization_users.each do |user_organization|%>
    <ul>
      <li><%=link_to user_organization.organization.name, root_path(subdomain: user_organization.organization.subdomain)%></li>
    </ul>
    <%end%>
  </div>
  <div class="col-xs-4">
    <%=image_tag @user.image, alt: @user.name, height: 150, width: 150%>
  </div>
</div>