<%if current_organization%>
<a class="navbar-brand" href="/" style="padding-right: 0; padding-top: 10px;">
  <% if current_organization.organization_logo?%>
    <%= image_tag current_organization.organization_logo_url(:thumb).to_s%>
  <% else %>
    
  <%end%>
</a>
<% end %>
<a class="navbar-brand" href="/">
  <% unless current_organization.organization_logo?%>
  <%=current_organization.name%>&nbsp;&#8226;
  <% end %>
  &nbsp;<%=brand_name%> <i class="fa fa-users"> </i> 
</a>

