<div class="row-fluid">
  <div class="span6">
    <h3>About</h3>
    <p>Copy goes here.</p>
    <h3>Campus Codefest 2013 Recap</h3>
      <iframe width="560" height="315" src="//www.youtube.com/embed/S4FpPekGAwQ" frameborder="0" allowfullscreen></iframe>

  </div>
  <div class="span6">
    <h3>Featured Projects</h3>
    <div class="well well-small">
      <h4>
        UMN API
      </h4>    
      <p>ASDF</p>
    </div>
    <div class="well well-small">
      <h4>
        Open Campus Map
      </h4>    
      <p>ASDF</p>
    </div> 
    <div class="well well-small">
      <h4>
        Goldylicious
      </h4>    
      <p>Available at: <%=link_to "http://z.umn.edu/goldylicious", "http://z.umn.edu/goldylicious"%></p>
    </div>     
  </div>
</div>