<div class="row">
  <div class="col-xs-6">
    <h3>About</h3>
    <p>Campus Codefest is an event that allows IT staff from across the University to organize and work together based on common interests and skills rather than upon organizational structures and reporting lines. Primarily, it is about professional development and strengthening relationships within our community. Secondarily, it is an opportunity to explore solutions to cross-organizational problems. It’s also a heck of a lot of fun.</p>

    <p>Projects are submitted and ranked by the community (via this website) and then are pitched on the first day of the camp by a selected set of project owners. Camp participants ask project owners in-depth questions about their projects in three rounds of project "speed dating." Camp participants then decide which projects on which they would like to work. Participants are encouraged to explore and contribute to multiple projects throughout the event.</p>

    <h3>Campus Codefest 2013</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="//www.youtube.com/embed/S4FpPekGAwQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>The first CCF event took place in August 2013. There were 80 attendees from 21 departments. Out of 32 project ideas submitted, 14 were selected and worked on during the event.</p>

    <ul>
      <li>107 Registrations</li>
      <li>80 Attendees</li>
      <li>32 Projects Submitted</li>
      <li>14 Projects Selected</li>
      <li>48 pizzas consumed</li>
    </ul>
  </div>
  <div class="col-xs-6">
    <h3>Featured Projects</h3>
    <div class="well well-sm">
      <h4>
        UMN API
      </h4>
      <p><img class="feature-thumbnail pull-left" src="http://f.cl.ly/items/3C0f0K383u1726372l2T/api-logo.png" width="150"></img>
      One of the most anticipated projects from the 2013 Campus Codefest was the <a href="http://api.umn.edu/">UMN API project</a>. The project group, which formed during the Codefest, has continued as a working group. They seek to provide easy access to useful campus data for departments, organizations, students, and the public to utilize in the spirit of outreach and public service. An API (Application Programming Interface) is an pillar of modern, data driven development. Since the Codefest, this group has taken a leadership role in ensuring the University has a competitive advantage when it comes to accessibility and openess of data.</p>
      <p>University staff and students can learn more about this project by visiting their <a href="https://github.umn.edu/umnapi">GitHub repository</a> and get involved with their <a href="http://groups.google.com/a/umn.edu/forum/#!forum/umnapi-asrweb">Google Group</a>.
    </div>
    <div class="well well-sm">
      <h4>
        Open Campus Map
      </h4>
      <p><img class="feature-thumbnail pull-left" src="<%=asset_path('ocm_preview.jpg')%>" width="150"></img>
        Another 2013 Campus Codefest project team built a campus map based on open data. This approach leverages the <a href="http://www.openstreetmap.org/about">OpenStreetMap</a> platform upon which proprietary geographic data is layered to provide a richer, more powerful campus map than the University of Minnesota could produce on its own. Since the Codefest, the open campus map team has continued to meet and they hope to publish a working version this year.</p>
      <p>University staff and students can check out the project's <a href="https://github.umn.edu/open-campus-map/Open-Campus-Map">Github repository</a>, and a <a href="http://ocm-dev.ur.umn.edu/indexMapBox.html">proof of concept prototype</a> is available while the full version is still in development.</p>
    </div>
    <div class="well well-sm">
      <h4>
        Goldylicious
      </h4>
      <p><img class="feature-thumbnail pull-left" src="<%=asset_path('goldylicious.jpg')%>" width="150"></img>
        The project which ended up titled "Goldylicious" is an example of the fun and flexibility afforded with an event like Campus Codefest. The goal of this project was to take advantage of the time and availability of other experts throughout the University to learn about new technology. The developer involved was able to leverage the time to learn and apply a new framework and JavaScript library to create an application prototype. Check it out at: <%=link_to "http://z.umn.edu/goldylicious", "http://z.umn.edu/goldylicious"%></p>
    </div>
  </div>
</div>