<div class="row-fluid">
  <div class="span12">
    <h1>Contact us</h1>
      <p>Campus Codefest is run by committee. <%=link_to "Email us!", "emailto:hack-the-u-committee@umn.edu"%></p>
  </div>
</div>