<div class="row">
  <div class="col-xs-12">
    <h1>Contact us</h1>
      <p>The Campus Codefest concept originated at the University of Minnesota - Twin Cities in the summer of 2013. Chad Fennell came up with the idea and David Peterson joined shortly to help with the planning. The first event was a success, but lacked certain technical infrastructure.</p>
      <p>Don't like this app? Fix it! You can <%=link_to "fork our code", "https://github.com/campus_codefest/ccf"%>, create features or enhancements you would like to see then create a pull request which we can merge back into the repository. If you don't like mashing code, you can always <a href="https://github.com/campus_codefest/ccf/issues">create an issue</a> and we will try our best to resolve it.</p>
  </div>
</div>