<div class="row">
  <div class="col-xs-12">
    <h1>Contact us</h1>
      <p>Campus Codefest is run by committee. <%=link_to "Email us!", "mailto:hack-the-u-committee@umn.edu"%></p>
      <p>Don't like this app? Fix it! You can <%=link_to "fork our code", "https://github.umn.edu/ccf/campus_codefest"%>, create features or enhancements you would like to see then create a pull request which we can merge back into the repository. If you don't like coding, you can always <a href="https://github.umn.edu/ccf/campus_codefest/issues">create an issue</a> and we will try our best to resolve it.</p>
  </div>
</div>