<div class="row">
  <div class="col-xs-12">
    <h1>Frequently Ask Questions</h1>
    <h2>What is this?</h2>
    <p>The Campus Codefest concept originated at the University of Minnesota - Twin Cities in the summer of 2013. Chad Fennell came up with the idea and David Peterson joined shortly to help with the planning. The first event was a success, but lacked certain technical infrastructure. David developed this app over the next year and decided to expand it to become a SaaS app instead of a University only tool. Campus Codefest 2014 allowed event attendees to help work on the application as well. For more details, read our <%=link_to "about page", about_path%>.</p>

    <h2>How does it work?</h2>
    <p>A codefest tends to be a major annual or bi-annual event. First, an event is planned, scheduled and a space is reserved. Leading up to an event, project ideas are submitted, discussed and voted on. People register for your event and volunteer to help with projects. To start the event, all attendees pick projects and go to work. Near the end of the event, groups create a short presentation about how their project turned out. The event ends with presentations and generally an after party to network and discuss the event.</p>

    <h2>What is the event format?</h2>
    <p>Codefests are normally scheduled as a two day 9-5 type event during a workday or a 24 hour hackathon style event. Expect a significant chunk of time to be spent getting people on the same page technology-wise.</p>

    <h2>Does my organization have to be a University?</h2>
    <p>Nope. Any organization can use the application for free! The concept works well at any large organization but is especially good at large Universities which tend to have decentralized staffs and many great ideas floating around. The networking aspect of the event is just as important as the work done on projects.</p>

    <h2>How can I do this for my organization?</h2>
    <p>First, check our organizations page and ensure your organization is not already participating. If it is, go to your organization page, become a member and contact your organization administrators if you would like to become more involved. If is has not been created yet, you can create an organization and get started!</p>

    <h2>Who can see my organization's information</h2>
    <p>Your events and projects will be available to the general public. However, submitting projects, registering for events will only be allows for verified users. Users can be verified manually or automatically if you choose to allow certain email domains (e.g. umn.edu) to automatically be accepted.</p>

    <h2>I want to plan a Codefest for my organization, but I need help. Do you provide assistance?</h2>
    <p>We will work with organization administrators for a reasonable fee if you need help orchestrating the event. Contact us for more information.</p>

    <h2>This app needs work. Can you fix it?</h2>
    <p>Don't like this app? Fix it! You can <%=link_to "fork our code", "https://github.com/campus_codefest/ccf"%>, create features or enhancements you would like to see then create a pull request which we can merge back into the repository. If you don't like mashing code, you can always <a href="https://github.com/campus_codefest/ccf/issues">create an issue</a> and we will try our best to resolve it.</p>
  </div>
</div>