<h1>Github Resources</h1>
<p>Social coding is essential to a successful Codefest. Therefore, knowledge of Git and Github are a neccesity for participation. If you are new to Git and Github, take some time to review these resources before the next Codefest. At the very least, use the installation guide to have Git installed on your system.</p>
<h2>Git</h2>
<ul>
  <li><a href="http://git-scm.com/book/en/Getting-Started-Installing-Git">Git installation guide</a>, includes instructions for Windows, Mac and Linux.</li>
  <li><a href="https://docs.google.com/a/umn.edu/presentation/d/1zk4q5UEFduT9HbiU5QXQZlpBKaLPShYn6jp5ENOI4_A/edit#slide=id.g1c76cd2c3_418">Git Tutorial</a> by Jack Brown, OIT</li>
  <li><a href="http://git-scm.com/videos">Git Basics</a>, provided by core Git team.
  <li><a href="http://pcottle.github.io/learnGitBranching/">Learn Git Branching</a>, a game to help beginners grasp concepts behing branching when workings with git.
</ul>
<h2>Github</h2>
<ul>
  <li><a href="https://github.umn.edu/">University of Minnesota Github Enterprise</a> instance. Log on to this at least once before the Codefest to initialize your account.</li>
  <li><a href="https://github.umn.edu/ccf/github-cheat-sheet">Github Cheat Sheet</a> by <a href="https://github.com/tiimgreen">Tim Green</a></li> 
  <li><a href="https://github.umn.edu/organizations/ccf">Campus Codefest's Github organization</a>, check this out before and during a codefest for more information.</li>
</ul>