<% button_path = volunteer_project_path(project) %>
<% options = { method: :post, remote: true, class: "btn btn-xs " } %>

<% if project.volunteering_allowed? && current_user && current_organization.verified?(current_user) %>
    <% button_path = unvolunteer_project_path(project) if project.volunteered_for?(current_user) %>
    <% options[:class] += project.volunteered_for?(current_user) ? "btn-info" : "btn-default" %>
<% else %>
  <% options[:class] += "btn-default" %>
  <% options[:disabled] = "disabled" %>
<% end %>


<span class="badge badge-info"><%=project.project_volunteers_count%></span>
  <%=link_to button_path, options do%>
    <span class="fa fa-hand-paper-o"></span> Help
  <%end%>
