<p><span class="badge badge-info"><%=project.vote_count%></span> likes</p>
<%if project.voting_allowed? %>
  <%if current_user && current_organization.verified?(current_user)%>
    <%if project.voted_on?(current_user)%>
    <p>
      <%=link_to rate_project_path(project), :class => "btn btn-sm btn-danger", :method => :post, :remote => true do%>
        <span class="fa fa-times-circle"></span> Unlike this idea
      <%end%>
    </p>
    <%else%>
      <p>
      <%=link_to rate_project_path(project), :class => "btn btn-sm btn-info", :method => :post, :remote => true do%>
        <span class="fa fa-thumbs-up"></span> Like this idea
      <%end%>
      </p>
    <%end%>
  <%else%>
  <p class="text-info">
    <%=link_to signin_path, :class => "btn btn-sm btn-info" do%>
      <span class="fa fa-thumbs-up"></span> Sign in to like
    <%end%>
  </p>
  <%end%>
<%end%>