<% options = { method: :post, remote: true, class: "btn btn-sm " } %>
<% if project.voting_allowed? && current_user && current_organization.verified?(current_user) %>
  <% options[:class] += project.voted_on?(current_user) ? "btn-info" : "btn-default" %>
<% else %>
  <% options[:class] += "btn-default" %>
  <% options[:disabled] = "disabled" %>
<% end %>

<p>
  <span class="badge badge-info"><%=project.project_ratings_count%></span>
    <%=link_to rate_project_path(project), options do%>
      <span class="fa fa-thumbs-up"></span> Like
    <% end %>
</p>
