<ol class="breadcrumb">
  <li><%=link_to 'Home', root_path %></li>
  <li class="active">Idea Backlog</li>
</ol>
<p>No event in progress? Want to get a thought out but work on it in the future? Throw it on the backlog.</p>
<h3>Submit an Idea</h3>
<%= render partial: "projects/pretty_form" %>
<hr />
<div class="row">
  <div class="col-sm-12">
    <h3>Idea Backlog</h3>
    <%= render partial: "projects/project_list" %>
  </div>
</div>
