<footer class="page-footer">
	<div class="container">
		<p>
			&copy; <%=Date.today.year%> <%=link_to brand_name, root_url(subdomain: false)%> <small><%= render :partial => "shared/campuscodefest/version" %></small>
		</p>
	</div>
</footer>
