development: &dev_config
  domain: "lvh.me"
  google-analytics: "abc-123"
  brand:
    site_name: "Campus Codefest"
  oauth:
    providers:
      github:
        key: <<<<your key here bla blah.com>>>>
        secret: <<<<supersecret here>>>>
      google_oauth2:
        key: <<<<your key here bla blah.com>>>>
        secret: <<<<supersecret here>>>>
      facebook:
        key: <<<<your key here bla blah.com>>>>
        secret: <<<<supersecret here>>>>
      meetup:
        key: <<<<your key here bla blah.com>>>>
        secret: <<<<supersecret here>>>>
  mail:
    domain: "<<<<e.g. postmaster@campuscodefest.org>>>>"
    user_name: "<<<<e.g. postmaster@campuscodefest.org>>>>"
    password: "<<<<mailgun password here>>>>"
test: *dev_config
