development:
  adapter: sqlite3
  database: db/ccf_development.sqlite3
  encoding: utf8
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/ccf_test.sqlite3
  encoding: utf8
  pool: 5
  timeout: 5000

## MySQL examples
#development:
#  adapter: mysql2
#  database: ccf_development
#  encoding: utf8
#  username: root
#  password:
#  host: localhost
#
#test:
#  adapter: mysql2
#  database: ccf_test
#  encoding: utf8
#  username: root
#  password:
#  host: localhost
