<h2>You're done</h2>
<p>
  You can always re-visit all the decisions you made in the <%=link_to "Settings", edit_admin_organization_path%>.
</p>

<p>
  If you still need help, feel free to contact us. Good luck!
</p>
