<h2>Create an Event</h2>
<p>Your organization is set up. It's time to think about creating your first event. Event's remain hidden from your members until published, so you can start setting up your first event before it appears on your site.</p>
<p>
  <%=link_to next_wizard_path, class: "btn btn-success" do%>
    <i class="fa fa-calendar"></i> Create an event
  <% end %> or

  <%=link_to next_wizard_path, class: "btn btn-primary" do%>
    <i class="fa fa-arrow-circle-right"></i> Continue
  <% end %>
</p>
