
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= render :partial => 'shared/campuscodefest/title' %></title>
<%= stylesheet_link_tag    "app_reveal", :media => "all" %>
<%= javascript_include_tag "app_reveal" %>
</head>
<body>
<%=yield%>
</body>
</html>
